@import "styles/common.css";

.home-wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.homewrapper h1 {
    font-size: 36px;
}

.homewrapper body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    padding: 500px;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}